<template>
    <b-container>
        <b-row>
            <b-col>
                <Examples v-on:new-example="loadExample"/>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-button-group>
                    <b-button size="sm" @click="onClean()" variant="info">Clean</b-button>&nbsp;
                    <b-button size="sm" @click="onSubmit()" variant="success">Generate</b-button>
                    <b-form-select v-model="currentRender" :options="renders"/>
                </b-button-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col><a target="_blank" href="https://puravida-software.gitlab.io/asciidiagram/">(Documentation)</a></b-col>
        </b-row>
        <b-row>
            <b-col cols="12">
                <b-form-textarea v-model="adoc"
                                 rows="3"
                                 max-rows="60">
                </b-form-textarea>
            </b-col>
        </b-row>
    </b-container>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import Examples from "./Examples.vue";

    @Component({
        components: {Examples}
    })
    export default class Editor extends Vue {

        private adoc = '';

        private currentRender = 'ditaa';

        private renders = [
            {value: 'ditaa', text: 'Ditaa'},
            {value: 'graphviz', text: 'Graphviz'},
            {value: 'plantuml', text: 'PlantUML'},
            {value: 'nwdiag', text: 'Nwdiag'},
            {value: 'blockdiag', text: 'Blockdiag'},
            {value: 'mermaid', text: 'Mermaid'},
            {value: 'syntrax', text: 'Syntrax'},
        ];

        protected onClean(): void {
            this.adoc = '';
            this.onSubmit();
        }

        protected onSubmit(): void {
            this.$emit( 'parse-adoc', {
                parser: this.currentRender,
                adoc : this.adoc,
            });
        }

        protected loadExample( example ): void{
            this.currentRender = example.render;
            this.adoc = example.adoc;
        }

    }
</script>
