<template>
    <p>
    Examples: <b-form-select @change="exampleSelected" :options="examples" class="mb-3" />
    </p>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import vSelect from 'vue-select';

    @Component({
        components: { vSelect },
    })
    export default class Examples extends Vue {

        private examples = [
            {text: 'Simple Ditaa', value: {render: 'ditaa', file: 'ditaa.txt'} },
            {text: 'Simple Graphviz', value: {render: 'graphviz', file: 'graphviz.txt'} },
            {text: 'Activity Blockdiag', value: {render: 'blockdiag', file: 'actdiag.txt'} },
            {text: 'Activity PlantUML', value: {render: 'plantuml', file: 'activity.txt'} },
            {text: 'UseCase PlantUML', value: {render: 'plantuml', file: 'usecase.txt'} },
            {text: 'Amazon WebService', value: {render: 'plantuml', file: 'aws.txt'} },
            {text: 'Deploy diagram', value: {render: 'plantuml', file: 'deploy.txt'} },
            {text: 'Simple mermaid', value: {render: 'mermaid', file: 'mermaid.txt'} },
            {text: 'Grant', value: {render: 'mermaid', file: 'grant.txt'} },
            {text: 'Latex', value: {render: 'plantuml', file: 'latex.txt'} },
            {text: 'Network diagram', value: {render: 'nwdiag', file: 'nwdiag.txt'} },
            {text: 'Syntrax', value: {render: 'syntrax', file: 'syntrax.txt'} },
            {text: 'Timing', value: {render: 'plantuml', file: 'timing.txt'} },
        ];

        private exampleSelected( selected ) : void {
            const theApp = this;
            fetch( 'examples/' + selected.file ).then( (data) => data.text()).then((result) => {
                theApp.$emit('new-example', {
                   render : selected.render,
                   adoc : result
                });
            });
        }

    }
</script>

<style scoped>

</style>