<template>
  <span class="hello">
    <h1>{{ title }}</h1>
    <h3>{{ subtitle }}</h3>
  </span>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    components: {
    },
})
export default class HelloWorld extends Vue {
  @Prop() private title!: string;
  @Prop() private subtitle!: string;
}
</script>

