<template>
  <div id="app">
    <b-container fluid>
      <b-row>
        <b-col cols="4"><img alt="Vue logo" src="./assets/logo.png"></b-col>
      </b-row>
      <b-row>
        <b-col cols="4"><Editor ncols="10" nrows="3" v-on:parse-adoc="onParseAdoc"/></b-col>
        <b-col>
          <b-container fluid>
            <b-row>
              <b-col>
                URL:
                <b-form-textarea v-model="fullUrl"
                                 :rows="3"
                                 :max-rows="3">
                </b-form-textarea>
                <b-alert variant="danger"
                         dismissible
                         :show="showDismissibleAlert">
                  {{error}}
                </b-alert>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                  <AsyncImage :imgurl="imgurl" :waiting="waiting" />
              </b-col>
            </b-row>
          </b-container>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

import BootstrapVue from 'bootstrap-vue';
import 'bootstrap/dist/css/bootstrap.css';
import 'bootstrap-vue/dist/bootstrap-vue.css';

import HelloWorld from './components/HelloWorld.vue';
import AsyncImage from './components/AsyncImage.vue';
import Editor from './components/Editor.vue';
import Examples from './components/Examples.vue';


Vue.use(BootstrapVue);

@Component({
  components: {
      HelloWorld,
      Editor,
      AsyncImage,
      Examples,
  },
})
export default class App extends Vue {

    private imgurl!: string;
    private waiting = false;

    private showDismissibleAlert = false;
    @Prop() private error!: string;

    private showUrlAlert = false;
    @Prop() private fullUrl!: string;

    protected data() {
        return {
            imgurl : null,
            waiting : false
        }
    }

    protected onParseAdoc(json): void {
      const theApp = this;

      if( !json.adoc ){
          theApp.imgurl = '';
          theApp.waiting = false;
          return;
      }

      theApp.showDismissibleAlert = theApp.showUrlAlert =false;
      theApp.imgurl = theApp.fullUrl = '';
      theApp.waiting = true;

      const host =  process.env.VUE_APP_API;
      const url = host + json.parser + '/png/' + encodeURIComponent(btoa(json.adoc));

      fetch(url).then( (response) => {
          response.arrayBuffer().then( (buffer) => {
              const base64Flag = 'data:image/png;base64,';
              const imageStr = theApp.arrayBufferToBase64(buffer);
              theApp.imgurl = base64Flag + imageStr;
              theApp.waiting = false;
              theApp.fullUrl = url;
              theApp.showUrlAlert =true;
          });
      }).catch( (error) => {
          theApp.waiting = false;
          theApp.showDismissibleAlert = true;
          theApp.error = 'something happened';
      });
    }

    protected arrayBufferToBase64( buffer ): string{
        let binary = '';
        const bytes = [].slice.call( new Uint8Array( buffer )) ;

        bytes.forEach((b) => binary += String.fromCharCode( b ) );

        return window.btoa(binary);
    }

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  #text-align: center;
  color: #2c3e50;
  margin-top: 5px;
}
</style>
